*{
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}

.photo img{
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.form{
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 35%;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: azure;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px rgba(251, 249, 249, 0.797);
    transform: translate(-50%,-50%);
    padding: 20px;
    line-height:25px;
    overflow: hidden;
    border-radius: 20px;
    
}

@media screen and (max-width:1200px) and (min-width:1000px) {
    .form{
        width: 25%;
    overflow: hidden;

        height: 35%;
    }
}
@media screen and (max-width:1000px) and (min-width:800px) {
    .form{
        width: 25%;
    overflow: hidden;

        height: 35%;
    }
}
@media screen and (max-width:800px ) and (min-width:600px) {
    .form{
        width: 35%;
        height: 35%;
    overflow: hidden;

    }
}
@media screen and (max-width:600px ) and (min-width:400px) {
    .form{
        width: 45%;
        height: 35%;
    overflow: hidden;

    }
}

@media screen and (max-width:400px ) {
    .form{
        width: 60%;
        height: 35%;
    overflow: hidden;

    } 
}
h1{
    font-size: 30px;
    /* margin-bottom: 20px; */
    color:rgb(245, 176, 0);
}
.inputform{
    font-size: 17px;
    width: 100%;

}

.inputform input{
    width: 100%;
    height: 30px;
    padding-left: 10px;
}
/* .inputform .error{
    color: red;
    font-size: 15px;
} */

.inputform input:focus{
    outline: none;
}
button{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    background-color: lightgoldenrodyellow;
    font-size: 17px;
    color:black;
    font-weight: bold;
    cursor: pointer;
}

#button:hover{
    background-color: cyan;

}

/* .inputform.success input{
    border: green 2px solid;
}

.inputform.error input{
    border: red 2px solid;
}

#button a{
    
    text-decoration: none;
} */