body{
    background-color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    /* border: 2px solid red; */
    width: 70%;
    margin: auto;
    transition: 0.5s;
}

header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

header .training img{
    position: relative;
    text-align: right;

}

header .training img{
    width: 50px;
    cursor: pointer;

}
.back a img{
    width: 20px;
    height: 20px;
}
header.training span{
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    position: absolute;
    top: -5px;
    left:80%;
    padding: 3px 10px;


}

.list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 40px;
    margin-top: 10px;
}

@media screen and (max-width:400px) {
    .list{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 20px;
        row-gap: 40px;
        margin-top: 10px;
    }
    .container{
        width: 100%;
    }
    #catagories{
        font-size: 20px;
        font-weight: 900;
        padding-left: 80px;
    }
    .train img{
        padding-left: 80px;
    
    }
    .card{
        position:fixed;
        top: 0;
        left: calc(100% - 320px);
        width: 320px;
        background-color: #dd4f13;
        backdrop-filter: blur(90px);
        height: 100vh;
        transition: 0.5s;
        background: transparent;
        display: none;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    
    }
    .card .checkout .total{
        background-color: rgb(255, 136, 0);
        width: 70%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        padding-left: 100px;
    }
    
    .card .checkout div:nth-child(2){
        background-color: #1c1f25;
        color: #fff;
        width: 100%;
        margin-left:20%;
    }
    .listcard{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        /* border: 2px solid rgb(255, 247, 0); */
        height: 70vh;
    }
    
}
.box1 {
    border: 2px solid;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    height: 500px;


}

.div{
    width: 100%;
    /* border: 2px solid red; */
    height: 70%;
    overflow: hidden;

   
}
.div img{
    height: 100%;
    width: 100%;
}
.box1 img:hover{
    transform: scale(1.2);
    transition: 2s;
}
.card{
    position:fixed;
    top: 0;
    left: calc(100% - 400px);
    width: 400px;
    background-color: #dd4f13;
    backdrop-filter: blur(90px);
    height: 100vh;
    transition: 0.5s;
    background: transparent;
    display: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.card h1{
    color: rgb(69, 33, 7);
    font-weight: 900;
    margin: 0;
    padding: 0 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card .checkout div{
    background-color: yellow;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkout div:nth-child(2){
    background-color: #1c1f25;
    color: #fff;
}
#catagories{
    font-size: 20px;
    font-weight: 900;
    /* text-align: center; */
    /* padding-left: 80px; */
}
.active .card{
    left: calc(100% - 320px);

}

.active .container{
    transform: translateX(-200px);
}

.listcard{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    /* border: 2px solid rgb(255, 247, 0); */
    height: 100vh;
}


.train{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    cursor: pointer;
    /* border: 2px solid red; */
}

.train img{
    width: 50px;
    /* padding-left: 80px; */

}

.train .img {
    /* border: 2px solid; */
    display: flex;
    height:50px ;
    line-height:0px;
    width: 300px;
    
}
.img p{
    padding-left: 10px;
}